@import "tailwindcss";

@keyframes jump {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }

  50%,
  55% {
    transform: translateY(-10px);
  }
}

.jump {
  animation: jump 1s ease-in-out infinite;
}

@keyframes aboutPop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-pop {
  animation: aboutPop 0.3s ease-out;
  will-change: transform, opacity;
}

.center {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.about-scroll {
  max-height: 55vh;
  overflow-y: auto;

  /* RUANG antara konten & border */
  padding-right: 12px;

  /* smooth scroll (optional) */
  scroll-behavior: smooth;
}

.about-scroll::-webkit-scrollbar {
  display: flex;
}

.about-scroll::-webkit-scrollbar-thumb {
  background-color: #ffffff50;
  border-radius: 50px;
}
