@import "tailwindcss";

@keyframes jump {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }

  50%,
  55% {
    transform: translateY(-10px);
  }
}

.jump {
  animation: jump 1s ease-in-out infinite;
}
